.table{
  margin-top: 20px;
  height: 400px;
  overflow: auto !important;
  padding: 1rem;
  tr:nth-child(2n){
    background-color: #dcdcdc;
  }
  td:nth-child(2){
    font-weight: bold;
  }
}
//todo:: style odd rows 100% width, data bold, wrap with a div?