body{
    background-color: aliceblue;
}

.app__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image{
    width: 370px;
    margin-top: 50px;
}
@media (max-width: 500px) {
    .app__container{
        margin: 0 5%;
    }
    .image {
        width: 100%;
    }
}