.map {
  height: 400px;
  width: 100%;
//  todo:: dlaczego nie przyjmuje pełnej szerokości?
// nie moge złapac leaflet
  [class*=leaflet-container]{
    height: 100%;
    width: 100%;
  }
  //& :first-child{
  //  height: 100%;
  //}

}
